/*
默认的样式表。
如果需要用到这个样式，且还用到其他的样式，那需要进行相加,。
子控件样式会继承自这个公共样式。
除了主题样式，个性化样式请不要在此表中声明.
*/
*{
    font-family: "Microsoft YaHei UI", serif;
    font-size: 14px;
}
/* widget 的默认底色，倒角 */
QWidget{border-radius:2px;background-color: #fdfdfd;}
/* 用于承载页面的窗体设置为背景透明 */
#main_window{background: transparent}
/* 设定标题栏高度 */
#bar{height: 50px;}
#bar{
    /*background: #47D1FF;*/
}
#btn_bar_app_name{
    font-family: "Microsoft YaHei UI", serif;
    font-size: 14px;
    background: transparent;
}
/*自定义标题栏按钮*/
#btn_bar_normal, #btn_bar_close, #btn_bar_min, #btn_bar_app_logo{
    margin: 3px;
    width: 25px;
    height: 25px;
    border-radius: 2%;
    background: transparent;
}
/*最小化按钮*/
#btn_bar_min{
    /*background: #00f5d4;*/
}
#btn_bar_min:hover {
    background: #70FFEC;
}
/*最大化那妞*/
#btn_bar_normal{
    /*background: #00bbf9;*/
}
#btn_bar_normal:hover{
    background: #47D1FF;
}
/*关闭按钮*/
#btn_bar_close{
    /*background: #f15bb5;*/
}
/*经过按钮*/
#btn_bar_close:hover{
    background: #CE1283;
}
/*按钮被按下*/
/*noinspection CssInvalidPseudoSelector*/
#btn_bar_close:pressed{
    background: #CE1283;
}
/*标题栏背景*/
#base_bar{
    background: #6096ba;
}
/*应用名称*/
#app_name{
    margin-left: 10px;
    font-family: "Microsoft YaHei UI", serif;
    font-size: 16px;
    border: none;
    color: #0466c8;
}
/*应用图标*/
#app_logo{
    width: 25px;
    height: 25px;
    border: none;
    background: transparent;
}